#botones{
    transition:ease-out 2s;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.boton{
    
    background-color: black;
    color: wheat;
    transition:ease-in-out 2s;


}

.esconderBoton{
    display: none;
}